{% extends "index.html" %}
{% block content %}


<center>     <h1 style="margin-top:  150px;">About</h1></center>
<div class="about-container">
    <!-- Image Section -->
    <div class="image-section">
        <img src="/static/images/i3.jpg" alt="About Us">
    </div>

    <!-- Content Section -->
    <div class="content-section">
        <h1>Smart Retail Query And Alert System For Apparel And Footwear Using Generative AI</h1>
        <p>
            Welcome to our platform! We are dedicated to providing the best services and products to our users. 
            Our team is passionate about innovation, quality, and customer satisfaction. 
            With years of experience in the industry, we strive to bring you the most reliable and efficient solutions.
        </p>
        <p>
            Join us on our journey as we continue to grow and make a positive impact in the community. 
            Thank you for being a part of our story.
        </p>
    </div>
</div>

{% endblock %}